body {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
}

.logo img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 150px;
}

.texto {
    background-color: transparent;
}

.parallax {
    /* The image used */
    /* Set a specific height */
    height: 400px;
    width: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/carro.jpg");
}

.rodape {
    background-color: #212529;
    margin: 0%;
    padding: 0;
    height: 50px;
    width: 100%;
}

.titulo {
    height: 10em;
    position: relative;
    top: 10em;
    color: #343A40;
}

.carousel img {
    height: 554px;
}
